.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3em;
}

.footerText {
    color: lightgray;
    max-width: 400px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
